# This files serves as a "dependency" file for python. We need the following libraries, so running 'pip install -r requirements.txt' will download the following for the proj.
opencv-python
pyzbar
smbus2
numpy
#Requires external steps: node

